# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the workflow will run
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: zip
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'Ukrainian-Unicode.bundle.zip'
          exclusions: '*.git*'

      - name: Publich
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: '*.zip'
